/* font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Poppins:wght@600;700&family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
    box-sizing: border-box;
}

/* root font */
html{
    font-size: 62.5%;
}
/* nav */
.nav1{
    max-width: 100%;
    background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
   padding: 44px 240px;
   display: flex;
   justify-content: space-between;

}
.G{
    color: #FF42A5;
}
/* logo */
.logo{
    display: flex;
    gap: 2rem;
    align-items: center;
}
/* img1 */
.img1{
   max-width: 86.041px;
   max-height: 40px;
}
/* h2title*/
.h2title{

    text-align: center;
 font-family: Work Sans;
 font-size: 4.5rem;
 font-weight: 700;
 
}

/* navul */
.navul{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

}
/* navli */
.navli{
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
list-style: none;
}

/* navli>a */
.navli>a{
    text-decoration: none;
    color: #3C354F;
}




/* fa-brands */
.fa-brands{
    font-size: 3rem;
    
}

button>#youtube{
    color:  #F61C0D;
    margin-right: 1.6rem;
    margin-left: 2.4rem;
}
button>#tiktok{
    color: #000000;
}
.button1{
    display: flex;
    padding: 17px 24px;

    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;

    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 1.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: -13px;
}

/* mainsection */
.mainsection{
    max-width: 100%;
    max-height: 700px;
    background: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    /* padding: 148px 240px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 68px;
    
    margin: 0px  240px;
    margin-bottom: 120px;


}
.funnytext{
    
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* sectiondiv */
.sectiondiv{
    max-width: 100%;
    max-height: 100%;
    /* border: 3px solid red; */
    padding-right: 50px;
    background: url('/images/Group 14.png');
    
}
.sectionh1{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 4.8rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.sectionh2{
    text-align: center;
font-family: Work Sans;
font-size: 9.5rem;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.psection1{
    color: #534C64;

font-family: Work Sans;
font-size: 2.0rem;

font-weight: 500;

text-transform: lowercase;
padding: 24px 0px 17px 30px;
}
.psection2{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-left: 30px;
}
.psection3{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 17px 0px 40px 30px;
}

/* button */
.buttoncolor1{
    max-width: 155px;
    max-height: 65px;
    /* border: 3px solid red; */
    padding: 21px 40px;
    color: #FFF;
font-family: Work Sans;
font-size: 2rem;

font-weight: 600;

text-transform: uppercase;
border-radius: 48px;
background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
margin-right: 24px;
}

/* button2 */
.buttoncolor2{

    
        max-width: 155px;
        max-height: 65px;
        /* border: 3px solid red; */
        padding: 20px 20px;
        color: #FFF;
    font-family: Work Sans;
    font-size: 2rem;
    
    font-weight: 600;
    
    text-transform: uppercase;
    border-radius: 48px;
background: #4EC5F7;
    text-align: center;
    /* padding: ; */
   
}


/* sectiondiv2 */
.sectiondiv2{
    max-width: 100%;
    max-height: 100%;
    margin-left:  50px;
   
}

.img2{
    max-width: 100%;
    max-height: 700px;
    

}

/* maincard */
.maincard{
    max-width: 342px;
    max-height: 460px;
   
}

/* cardcontenar */
.cardcontenar{
   
    max-height: 460px;
    margin: 0px 240px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 24px;
}

/* maindiv */
 
 
.mainimg{
    max-width: 100%;
    max-height: 400px;
}
.mainp1{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-bottom: 48px;
}
/* divmain00 */
.divmain00{
    margin: 0px 240px;
   
}

.mainh1{
    color: #0B0223;

font-family: Work Sans;
font-size: 4.8rem;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
/* margin-left: 700px; */
}
.mainp2{
    color: #534C64;
font-family: Work Sans;
font-size: 2rem;
font-style: normal;
font-weight: 500;
line-height: normal;
padding-top: 10px;
padding-bottom: 15px;
text-align: center;

    
}

/* sectionmainh1 */
.sectionmainh1{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
}

.sectionmainp{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

/* sectionmain */
.sectionmain{
    /* width: 635px;
    height: 650px;
    border: 3px solid rgb(23, 155, 93); */
    display: flex;
    justify-content:space-between;
    /* align-items:flex-start; */
    margin:120px 240px 50px 300px;
    gap: 260px;

    /* gap: 200px; */
}



/* sectionmainimg */

.sectionmainimg{
    position: relative;
    width: 635px;
    height:330px;
   
}

/* sectionimg2 */

/* mainimg2 */
.mainimg2{
    position: absolute;
    max-width: 200px;
    max-height: 200px;
    left: -90px;
    bottom: -50px;
  
}


/* buttonlast */
.buttonlast{
    border-radius: 50px;
background: #FFF;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 8px;
}
.buttonlast:hover{
    background:  linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 4px 3px 3px 3px gray;
    
}
/* sectionlastdiv */
.sectionlastdiv{
    display: flex;
    
    margin:150px 240px
    0px 240px;
    gap: 30px;
    /* text-align-last: center; */
  

}
/* sectionflexdiv */
.sectionflexdiv{
    display: flex;
    margin:30px 300px;
    gap: 30px;
    margin-bottom: 100px;

}


/* footer */
footer{
    width: 100%;
 
    height: 636px;
    background: #0B0223;
}



.footer1{
   display: flex;
   justify-content: center;
   padding-top: 126px;
   padding-bottom: 70px;
   gap: 20px;
}

.footerimg{
    width: 86.041px;
height: 40px;
}

.footerh2{
    text-align: center;
font-family: Work Sans;
font-size: 4.5rem;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #FFF;
}



/* divfooterp */


/* footer2 */
.footer2{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.pass{

    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
/* footer3 */
.footer3{

    margin-top: 66px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    gap: 50px;
    
}
.fa-brands{
    color: #FFF;
    cursor: pointer;
}

/* footeer4 */


.footer4{
display: flex;
justify-content: center;
gap: 60px;
}
.footeer4{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.footer5{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 30px;
}
 







/* tempo */

.ami{
    display: block;
}





/* media */

@media screen and (max-width:576px){
    header{
        padding: 0;
    }
    .nav1{
        flex-direction: column;
       padding-left: 300px;
        /* justify-content: center; */
    }
    .navul{
        flex-direction: column;
        padding-left: 100px;
        padding-top: 50px;
    }
    .mainsection{

        flex-direction: column-reverse;
    margin-top: 350px;


    }
    .img2{
        max-width: 600px;
    max-height: 650px;
    border: 3px solid red;
    margin-left: -150px;
  
    
    
    }
    .sectiondiv{
        max-width: 600px;
    max-height: 650px;
    border: 3px solid red;
    margin-left: 350px;
    }
    .divmain00{
        
        font-size: 30px;
   margin: 0px 0px 0px 100px;
        
    }
    .cardcontenar{
        grid-template-columns: repeat(1,1fr);
        margin-right: 300px;
    }
    .sectionmain{
        flex-direction: column;
    }
 .sectionmain1{
width: 400px;
height: 300px;
    border: 3px solid red;
    margin-left: -110px;
    margin-top: 800px;
    padding:0px;
    margin-right: 0px;
 }


 .sectionmainh1{
    margin: 0px;
 }
 .sectionmainp{
    border: 3px solid red;
    padding-bottom: 20px;
 }
 .sectionmainimg{
    margin-top: -150px;
    margin-left: -110px;
 }

 .sectionlastdiv{
 flex-wrap: wrap;
 flex-shrink: 0;
 }
 .sectionflexdiv{
    flex-wrap: wrap;
    flex-shrink: 0;

    margin-left: 240px;

    
 }
 .buttonlast{
    margin-left: 30px;
 }
 .footerdiv{
    margin-left: 100px;
 }
}